%{
uc = session.get("uc");
if(uc=="0")
	displayBanner = false;
else {
	displayBanner = uc=="1" || useragentcheck.UserAgentCheck.check(request.headers.get("user-agent").value());
	session.put("uc",displayBanner?"1","0");
}
}%
#{if displayBanner}
<style>
.usercheck {
	background: #ffffe1 url(@{'/public/images/ugot/icon-info.gif'}) no-repeat fixed .3em .3em;
	border-bottom: .16em outset;
	display: block;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	position: absolute;
	top: 0;
	width: 100%
}
.usercheck a {
	color: #000;
	display: block;
	padding: 5px;
	text-decoration: none;
	text-indent: 20px
}
.usercheck :hover {
	background:#3169B6 url(@{'/public/images/ugot/icon-info.gif'}) no-repeat fixed .3em .3em;
	color: #fff;
	display: block
}
</style>
<div class="usercheck">
<a href="http://www.google.com/chrome" title="Click here to update" target="_blank">
  Your browser is no longer supported. Click here to update...
</a>
</div>
#{/if}